#header {
    background-color: #191e23;
    color: white;
}

#footer {
    background-color: #191e23;
    color: white;
    height: 50px;

}
.menu-main-menu-container {
    margin: 1%;
}

#menu-main-menu ul {
    margin: 2%;
}

#menu-main-menu li {
    display: inline;
    margin-left: 10% ;
}
