body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

fieldset {
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 20px groove;
}

#login_email {
    margin-bottom: 2%;
}

#login_btn {
    margin-top: 5%;
}

#login_label {
    margin: 1%;
}

#login_box {
    margin-top: 10%;
}

a:hover {
    text-decoration: none;
}
#registration_gender {
    margin-top: 2%;
}

#comm_medium {
    margin-top: 2%;
}

#register_btn {
    margin-top: 3%;
}

div {
    margin-top: 0.5%;
}

#registration_form .error {
    color : red;
}

#update_model .error {
    color : red;
}

#table_container {
    margin-left: 6%;
    margin-right: 1%;
}

#modal-body-update {
    overflow: auto;

}

#modal-body-stackoverflow {
    overflow: auto;

}

.loader {
    position: absolute;
    top : 250px;
    right: 40%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#data-table tr:hover {
    cursor: pointer;
}

#logout {

    margin-bottom: 1%;
}
