

.scheduler-border {
    border: 1px groove;
    padding: 5%;
    margin: 5% ;
   
}


#login_box{
	margin-left:  25%;
}
#header
{
	margin-top: 2%;

}
#email-box{
	line-height: 4px;
}
#prefix1
{
	margin-left: 4%;
}
#prefix2
{
	margin-left: 4%;
}
#prefix3
{
	margin-left: 4%;
}
#gender
{
	margin-right: 1%;
}
#gender-male
{
	margin-left: 8%;

}
#gender-female
{
	margin-left : 5%;
}
#date_of_birth
{
	margin-left: 1%;

}
#marital_status1
{
	margin-left: 4%;
}
#marital_status2
{
	margin-left: 4%;
}
#marital_status3
{
	margin-left: 4%;
}
#communicate_through
{
	margin-left: 4%;
}

#login_button
{
	margin-top: 5%;
}

#reset_button 
{
	margin-top: 5%;
}
#modal-body-update{
	overflow: auto;
	
}

#modal-body-stackoverflow{
	overflow: auto;

}
.loader {
	position: absolute;
	top : 250px;
	right: 40%;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#data tr:hover{
	cursor: pointer;
}

#forgot_box {
	margin: 5%;
}

#forgot_container {
	margin-top: 3%;
}

#forgot_button {

	margin: 5%;
}

#success_alert {
	margin-top: 2%;
}

#verify_messgae {
	padding-bottom: 27%;
}

#link_message {
	margin-top: 25%;
}


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

